{% extends "m_base.html" %}
{% block title %}
Παρουσιολόγιο
{% endblock %}

{% block meta %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
<script src="{{ url_for('static', filename= 'js/html5-qrcode.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/parousiologio.css') }}">

{% endblock %}

{% block content %}
<!--BODY-->
<div class="container-fluid disable-select qrFlex">

    <div class="d-flex justify-content-center mx-4">
        <p class="text-center">Σαρώστε το QR Code που βρίσκεται στην εταιρία σας.</p>
    </div>
    <div class="d-flex justify-content-center">
        <img src="{{ url_for('static', filename= 'images/qr.gif') }}" style="width: 35%; height:auto;">
    </div>
    <div class="d-flex justify-content-center">
        <div class="align-self-center">
            <button class="btn btn-secondary my-3" id='OpenScan'><i class="bi bi-camera me-2"></i>Σάρωση QR
                Code
            </button>
        </div>
    </div>
    <!--CAMERA MODAL-->
    <div class="modal fade" tabindex="-1" role="dialog" id="cameraModal" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span id="cancelm2">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="d-flex justify-content-center">
                            <label>Σκάναρε το QR</label>
                        </div>
                        <div class="d-flex justify-content-center my-3">
                            <div id="reader" width="600px" height="600px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if session['isadmin']=='1' %}
    <div>
        <div class="d-flex justify-content-center">
            <button class="btn btn-secondary" id="btnqrgen" onclick="generateQRCode()"><i
                    class="bi bi-upc-scan me-2"></i>Παραγωγή QR Code
            </button>
        </div>

        <div class="d-flex justify-content-center">
            <canvas id="qr-code" style="display:none; width:200px; height:200px;"></canvas>
        </div>
    </div>
    {%endif%}
    <script>
				$("#cancelm2").click(function () {
					$("#cameraModal").modal('hide');
				})

				$("#OpenScan").click(function () {
					$("#loader").css("display", "block");
					window.cameraId;
					window.html5QrCode = new Html5Qrcode("reader");
					const qrCodeSuccessCallback = (decodedText, decodedResult) => {
						play();
						$('#cameraModal').modal('hide');
						$("#loader").css("display", "block");
						const d = new Date();
						dd = d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + d.getDate() + " " + d.getHours() + ":" +
							d.getMinutes();
						$.ajax({
							url: '/parousiologio/insert',
							method: "POST",
							data: {
								date: dd,
								qrcode: decodedText
							},
							success: function (data) {
								if (data['success']) {
									if (data['status'] == 'insert') {
										$("#loader").css("display", "none");
										$('#successmodalWelcome').modal('toggle');
										setTimeout(function () {
											$('#successmodalWelcome').modal('hide')
										}, 2000);
									} else if (data['status'] == 'update') {
										$("#loader").css("display", "none");
										$('#successmodalBye').modal('toggle');
										setTimeout(function () {
											$('#successmodalBye').modal('hide')
										}, 2000);
									} else if (data['status'] == 'qrcode') {
										$("#loader").css("display", "none");
										$('#failuremodal').modal('toggle');
										setTimeout(function () {
											$('#failuremodal').modal('hide')
										}, 2000);
									}
								} else {}
							}
						});
					};
					Html5Qrcode.getCameras().then(devices => {
						/**
						 * devices would be an array of objects of type:
						 * { id: "id", label: "label" }
						 */
						if (devices && devices.length) {
							cameraId = devices[0].id;
							$("#loader").css("display", "none");
							$('#cameraModal').modal('toggle');
							const config = {
								fps: 10,
								qrbox: 250
							};
							html5QrCode.start({
								facingMode: "environment"
							}, config, qrCodeSuccessCallback);
						} else {
							$("#loader").css("display", "none");
							alert('Δεν βρέθηκε κάμερα');
						}
					}).catch(err => {
						$("#loader").css("display", "none");
						alert(err);
					});
				});

				$("#cameraModal").on('hide.bs.modal', function () {
					html5QrCode.stop().then((ignore) => {
						// QR Code scanning is stopped.
					}).catch((err) => {
						// Stop failed, handle it.
					});
				});

				function play() {
					var beepsound = new Audio("{{ url_for('static', filename= 'sounds / beep.mp3') }}");
					beepsound.play();
				}




    </script>

</div>
<!--MODALS-->
<div class="disable-select">
    <!--Welcome-->
    <div class="modal fade" id="successmodalWelcome" role="dialog">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="d-flex justify-content-center">
                                <img src="{{ url_for('static', filename= 'images/Green-Tick.png') }}"
                                     style="width:50%">
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-center">
                                <p style="font-size:20px">Επιτυχής καταχώρηση</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-center">
                                <h4><span id="insertID">Καλώς Ήρθατε </span></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--BYE-->
    <div class="modal fade" id="successmodalBye" role="dialog">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="d-flex justify-content-center">
                                <img src="{{ url_for('static', filename= 'images/Green-Tick.png') }}"
                                     style="width:50%">
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-center">
                                <p style="font-size:20px">Επιτυχής καταχώρηση</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-center">
                                <h4><span id="insertID">Καλό σας απόγευμα </span></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--WrongE-->
    <div class="modal fade" id="failuremodal" role="dialog">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="d-flex justify-content-center">
                                <img src="{{ url_for('static', filename= 'images/Red-X.png') }}" style="width:50%">
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-center">
                                <p style="font-size:20px">Κάτι πήγε στραβά</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-center">
                                <span id="insertIDFail">Παρακαλώ σκανάρετε το σωστό QRCode</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
		var qr;
		(function () {
			qr = new QRious({
				element: document.getElementById('qr-code'),
				size: 300,
				value: "{{data['qrcode']}}"
			});
		})();

		function generateQRCode() {
			qr.set({
				foreground: 'black',
				size: 300,
				value: "{{data['qrcode']}}"
			});
			$('#qr-code').css("display", "block");
			$('#btnqrgen').css("display", "none");

		}

</script>
</body>

{% endblock %}