{% extends "base.html" %}
{% block title %}
Αρχική
{% endblock %}

{% block content %}
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><i class="bi bi-cash"></i> Τζίρος</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                            <a href="#" class="btn btn-primary">Περισσότερα</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><i class="bi bi-clock"></i> Ραντεβού</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                            <a href="#" class="btn btn-primary">Περισσότερα</a>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><i class="bi bi-list-task"></i> Εκρεμότητες</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                            <a href="#" class="btn btn-primary">Περισσότερα</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><i class="bi bi-telephone"></i> Κλήσεις</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                            <a href="#" class="btn btn-primary">Περισσότερα</a>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><i class="bi bi-calendar"></i> Εορτολόγιο</h5>
                            <p class="card-text">
                            <div style="width:px;text-align:center;">
                                <iframe
                                        src="https://www.eortologio.net/widget.php?color=555555&color2=f5f5f5&bgcolor=ffffff&width=60&height=50"
                                        width="auto" height="auto" scrolling=no marginwidth=0 marginheight=0
                                        frameborder=0 style="border:0;margin:0;padding:0;"></iframe>
                                <a style="font-size:13px;color:#404040;text-decoration:none;text-shadow: 0px 1px 0px #F0F0F0"
                                   href="https://www.eortologio.net" target="_blank"></a>
                            </div>
                            <a href="https://www.eortologio.net/" target="_blanc"
                               class="btn btn-primary">Περισσότερα</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><i class="bi bi-book"></i> Παρουσιολόγιο</h5>
                            <p class="card-text">Σκανάρετε το QRCode που βρίσκεται στην εταιρία σας, κατά την είσοδο
                                και έξοδο απο αυτή.</p>
                            <a href="/parousiologio" class="btn btn-primary">Περισσότερα</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><i class="bi bi-check2-square"></i> Εγκρίσεις</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                            <a href="#" class="btn btn-primary">Περισσότερα</a>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}