<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="footer, address, phone, icons" />
  <title>Day-One</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/general.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery_popup.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename= 'js/g.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/globalStyling.css') }}">

  <script>
    $(document).ready(function () {
      $("tr:gt(0)").dblclick(function () {
        var rowItems = $(this).children('td').map(function () {
          return (this.innerHTML);
        }).toArray();
        document.getElementById("formcode").value = rowItems[0];
        document.getElementById("formsoaction").value = rowItems[11];
        document.getElementById("formfromdate").value = formatDateTime(rowItems[1]);
        document.getElementById("formfinaldate").value = formatDateTime(rowItems[2]);
        document.getElementById("formtrndate").value = formatDate(rowItems[10]);
        document.getElementById("formprjc").value = rowItems[8];
        document.getElementById("formtrdr").value = rowItems[6];
        document.getElementById("formtrdrname").value = rowItems[3];
        document.getElementById("formtrdrcode").value = rowItems[7];
        document.getElementById("formprjname").value = rowItems[5];
        document.getElementById("formprjcode").value = rowItems[9];
        document.getElementById("formcomments").value = rowItems[4];
        $("#contactdiv").css("display", "block");
      });
      $("#new").click(function () {
        document.getElementById("formcode").value = '';
        document.getElementById("formfromdate").value = '';
        document.getElementById("formfinaldate").value = '';
        document.getElementById("formtrndate").value = '';
        document.getElementById("formprjc").value = '';
        document.getElementById("formprjcode").value = '';
        document.getElementById("formprjname").value = '';
        document.getElementById("formtrdr").value = '';
        document.getElementById("formtrdrname").value = '';
        document.getElementById("formtrdrcode").value = '';
        document.getElementById("formsoaction").value = '';
        $("#contactdiv").css("display", "block");
        getDate();
      });
      $("#contact #cancel").click(function () {
        $(this).parent().parent().parent().hide();
      });
      $("#Save").click(function () {
        $("#loader").css("display", "block");
        var trndate = document.forms["newReC"]['formtrndate'].value;
        var fromdate = document.forms["newReC"]["formfromdate"].value;
        var finaldate = document.forms["newReC"]["formfinaldate"].value;
        var prjc = document.forms["newReC"]["formprjc"].value;
        var trdr = document.forms["newReC"]["formtrdr"].value;
        var comments = document.forms["newReC"]["formcomments"].value;
        var soaction = document.forms["newReC"]["formsoaction"].value;
        if (soaction == '') {
          $.ajax({
            url: "meetings/insert",
            type: "POST",
            data: {
              trndate: trndate,
              fromdate: fromdate,
              finaldate: finaldate,
              prjc: prjc,
              trdr: trdr,
              comments: comments
            },
            success: function (data) {
              alert(data);
              window.location.replace("/meetings")
              $("#loader").css("display", "none");
            }
          })
        } else {
          $.ajax({
            url: "meetings/update",
            type: "POST",
            data: {
              trndate: trndate,
              fromdate: fromdate,
              finaldate: finaldate,
              prjc: prjc,
              trdr: trdr,
              soaction: soaction,
              comments: comments
            },
            success: function (data) {
              alert(data);
              window.location.replace("/meetings")
              $("#loader").css("display", "none")
            }
          })
        };
        $(this).parent().parent().hide();
      });
    });

    function checks() {
      if (document.getElementById("formtrdrcode").value == '') {
        document.getElementById("formtrdrname").value = '';
        document.getElementById("formtrdr").value = '';
      }
      if (document.getElementById("formtrdrname").value == '') {
        document.getElementById("formtrdrcode").value = '';
        document.getElementById("formtrdr").value = '';
      }
      if (document.getElementById("formprjname").value == '') {
        document.getElementById("formprjcode").value = '';
        document.getElementById("formprjc").value = '';
      }
      if (document.getElementById("formprjcode").value == '') {
        document.getElementById("formprjname").value = '';
        document.getElementById("formprjc").value = '';
      }
    }

    function formatDate(date) {
      var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

      if (month.length < 2)
        month = '0' + month;
      if (day.length < 2)
        day = '0' + day;

      return [year, month, day].join('-');
    }

    function formatDateTime(date) {
      var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear(),
        hour = d.getHours(),
        minute = d.getMinutes();
      if (month.length < 2) {
        month = '0' + month;
      }
      if (day.length < 2) {
        day = '0' + day;
      }
      hour = '0' + hour;
      minute = '0' + minute;
      hours = hour.toString().substr(-2)
      minutes = minute.toString().substr(-2)
      return [year, month, day].join('-') + 'T' + [hours, minutes].join(':');
    }

    function getDate() {
      var today = new Date();
      document.getElementById("formtrndate").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-
        2) + '-' + ('0' + today.getDate()).slice(-2);
    }
  </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
  <style>
    * {
      box-sizing: border-box;
    }

    .feedback {
      background-color: #31B0D5;
      color: white;
      padding: 10px 20px;
      border-radius: 4px;
      border-color: #46b8da;
    }

    #mybutton {
      position: fixed;
      bottom: 14px;
      right: 20px;
    }

    #button2 {
      background-color: blue;
    }

    #button3 {
      background-color: red;
    }
  </style>
  <style>
    .table__wrapper {
      overflow-x: auto;
    }
  </style>
  <style>
    * {
      box-sizing: border-box;
    }

    .autocomplete {
      position: relative;
      display: inline-block;
    }

    .autocomplete-items td {
      padding: 5px;
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid #d4d4d4;
    }

    .autocomplete-items {
      position: relative;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      /*position the autocomplete items to be the same width as the container:*/
      top: 100%;
      left: 0;
      right: 0;
    }

    /*when hovering an item:*/
    .autocomplete-items td:hover {
      background-color: #e9e9e9;
    }

    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
      background-color: DodgerBlue !important;
      color: #e9e9e9;
    }
  </style>
</head>

<body>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/index">
          Αρχική Σελίδα
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            CRM
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/customers">
              Πελάτες
            </a>
            <a class="navbar-item" href="/meetings">
              Συναντήσεις
            </a>
            <a class="navbar-item" href="/calendar">
              Ημερολόγιο
            </a>
          </div>
        </div>
      </div>
      <div class="navbar-end">
        <a class="navbar-item" href="/index">
          <i class="fas fa-home"></i>
          <p style="margin-left:2px; display:inline;">{{session['companyname']}}</p>
        </a>
        <a class="navbar-item">
          <i class="fas fa-user"></i>
          <p style="margin-left:2px; display:inline;">{{session['username']}}</p>
        </a>
        <a class="navbar-item" href="/logout">
          <i class=" fas fa-sign-out-alt"></i>
          <p style="margin-left:2px; display:inline;">Αποσύνδεση</p>
        </a>
      </div>
    </div>
  </nav>
  <br />




  <div id="mybutton">
    <div class="buttons has-addons">
      <button class="feedback" id="new"><i class="fas fa-plus"></i> Νέο</button>
      <button class="feedback" id="button2"><i class="fas fa-edit"></i> Edit</button>
      <button class="feedback" id="button3"><i class="fas fa-trash-alt"></i> Delete</button>
    </div>
  </div>

  <table id="grid" class="table is-bordered is-striped  is-hoverable is-fullwidth">
    <thead>
      <tr>
        {% for header in headings %}
        <th scope="col">{{ header }}</th>
        {% endfor %}
      </tr>
    </thead>
    {% for row in data %}
    <tbody>
      <tr>
        <td>{{ row.SOACTIONCODE }}</td>
        <td>{{ row.FROMDATE }}</td>
        <td>{{ row.FINALDATE }}</td>
        <td>{{ row.TRDRNAME }}</td>
        <td>{{ row.COMMENTS }}</td>
        <td>{{ row.PRJNAME }}</td>
        <td style="display:none;">{{ row.TRDR }}</td>
        <td style="display:none;">{{ row.TRDRCODE }}</td>
        <td style="display:none;">{{ row.PRJC }}</td>
        <td style="display:none;">{{ row.PRJCODE }}</td>
        <td style="display:none;">{{ row.TRNDATE }}</td>
        <td style="display:none;">{{ row.SOACTION }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <br /><br /><br /><br /><br /><br />
</body>


<div id="contactdiv" style="display:none">
  <form autocomplete="off" class="form" id="contact" name="newReC">
    <div>
      <img src="{{ url_for('static', filename= 'images/button_cancel.png') }}" class="img" id="cancel" />
    </div>

    <h3>Contact Form</h3>
    <hr /><br />
    <p>
      <label>soaction: </label><input type="number" id="formsoaction" name="soaction" disabled />
    </p>
    <p>
      <label>Κωδικος: </label><input type="text" id="formcode" name="scode" disabled />
    </p>
    <p>
      <label>Ημερομηνία: </label><input type="date" id="formtrndate" name="trndate" />
    </p>
    <p>
      <label>Από: </label><input type="datetime-local" id="formfromdate" name="fromdate" />
    </p>
    <p>
      <label>Έως: </label><input type="datetime-local" id="formfinaldate" name="finaldate" />
    </p>
    <p style="display:none;">
      <label>TRDR: </label><input type="number" id="formtrdr" name="trdr" />
    </p>
    <p>
      <label>Πελάτης: </label><input id="formtrdrcode" name="trdrcode" onfocusout="checks()" /><input type="text"
        id="formtrdrname" name="trdrname" onfocusout="checks()" />

    </p>
    <p>
      <label>Κωδικός Έργου:<input type="text" id="formprjcode" onfocusout="checks()" name="prjcode" /><input type="text"
          id="formprjname" name="prjname" onfocusout="checks()" /></label>
    </p>
    <label style="display:none;"><input type="text" id="formprjc" /></label>
    <p>
      <label>Σχόλια:<input type="text" id="formcomments" name="comments" /></label>
    </p>
    <button type="button" id="Save">
      SAVE
    </button>
  </form>
</div>
<div class="loader" id="loader"
  style="z-index:999;position:fixed;top:50%;left:50%;margin-top:-60px;margin-left:-60px;display:none;"></div>
<style>
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
</style>

<script>
  function autocompletecode(inp, arr) {
    /*the autocomplete function takes two arguments,
    the text field element and an array of possible autocompleted values:*/
    var currentFocus;
    /*execute a function when someone writes in the text field:*/
    inp.addEventListener("input", function (e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) {
        return false;
      }
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i][0].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("table");
          /*make the matching letters bold:*/
          b.innerHTML = "<td>" + arr[i][0] + "</td>" + "<td>" + arr[i][1] + "</strong></td>";
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i][1] + "'>";
          b.innerHTML += "<input type='hidden' value='" + arr[i][0] + "'>";
          b.innerHTML += "<input type='hidden' value='" + arr[i][2] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function (e) {
            /*insert the value for the autocomplete text field:*/
            if (inp.id == "formtrdrcode") {
              inp.value = this.getElementsByTagName("input")[1].value;
              document.getElementById("formtrdrname").value = this.getElementsByTagName("input")[0].value;
              document.getElementById("formtrdr").value = this.getElementsByTagName("input")[2].value;
            } else if (inp.id == "formtrdrname") {
              inp.value = this.getElementsByTagName("input")[0].value;
              document.getElementById("formtrdrcode").value = this.getElementsByTagName("input")[1].value;
              document.getElementById("formtrdr").value = this.getElementsByTagName("input")[2].value;
            }
            /*close the list of autocompleted values,
            (or any other open lists of autocompleted values:*/
            closeAllLists();
          });
          a.appendChild(b);
        }
      }
    });

    /*execute a function presses a key on the keyboard:*/
    inp.addEventListener("keydown", function (e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("table");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
    });

    function addActive(x) {
      /*a function to classify an item as "active":*/
      if (!x) return false;
      /*start by removing the "active" class on all items:*/
      removeActive(x);
      if (currentFocus >= x.length) currentFocus = 0;
      if (currentFocus < 0) currentFocus = (x.length - 1);
      /*add class "autocomplete-active":*/
      x[currentFocus].classList.add("autocomplete-active");
    }

    function removeActive(x) {
      /*a function to remove the "active" class from all autocomplete items:*/
      for (var i = 0; i < x.length; i++) {
        x[i].classList.remove("autocomplete-active");
      }
    }

    function closeAllLists(elmnt) {
      /*close all autocomplete lists in the document,
      except the one passed as an argument:*/
      var x = document.getElementsByClassName("autocomplete-items");
      for (var i = 0; i < x.length; i++) {
        if (elmnt != x[i] && elmnt != inp) {
          x[i].parentNode.removeChild(x[i]);
        }
      }
    }
    /*execute a function when someone clicks in the document:*/
    document.addEventListener("click", function (e) {
      closeAllLists(e.target);
    });
  }

  function autocompletename(inp, arr) {
    /*the autocomplete function takes two arguments,
    the text field element and an array of possible autocompleted values:*/
    var currentFocus;
    /*execute a function when someone writes in the text field:*/
    inp.addEventListener("input", function (e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) {
        return false;
      }
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i][1].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("table");
          /*make the matching letters bold:*/
          b.innerHTML = "<td>" + arr[i][0] + "</td>" + "<td>" + arr[i][1] + "</strong></td>";
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i][1] + "'>";
          b.innerHTML += "<input type='hidden' value='" + arr[i][0] + "'>";
          b.innerHTML += "<input type='hidden' value='" + arr[i][2] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function (e) {
            /*insert the value for the autocomplete text field:*/
            if (inp.id == "formtrdrcode") {
              inp.value = this.getElementsByTagName("input")[1].value;
              document.getElementById("formtrdrname").value = this.getElementsByTagName("input")[0].value;
              document.getElementById("formtrdr").value = this.getElementsByTagName("input")[2].value;
            } else if (inp.id == "formtrdrname") {
              inp.value = this.getElementsByTagName("input")[0].value;
              document.getElementById("formtrdrcode").value = this.getElementsByTagName("input")[1].value;
              document.getElementById("formtrdr").value = this.getElementsByTagName("input")[2].value;
            }
            /*close the list of autocompleted values,
            (or any other open lists of autocompleted values:*/
            closeAllLists();
          });
          a.appendChild(b);
        }
      }
    });

    /*execute a function presses a key on the keyboard:*/
    inp.addEventListener("keydown", function (e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("table");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
    });

    function addActive(x) {
      /*a function to classify an item as "active":*/
      if (!x) return false;
      /*start by removing the "active" class on all items:*/
      removeActive(x);
      if (currentFocus >= x.length) currentFocus = 0;
      if (currentFocus < 0) currentFocus = (x.length - 1);
      /*add class "autocomplete-active":*/
      x[currentFocus].classList.add("autocomplete-active");
    }

    function removeActive(x) {
      /*a function to remove the "active" class from all autocomplete items:*/
      for (var i = 0; i < x.length; i++) {
        x[i].classList.remove("autocomplete-active");
      }
    }

    function closeAllLists(elmnt) {
      /*close all autocomplete lists in the document,
      except the one passed as an argument:*/
      var x = document.getElementsByClassName("autocomplete-items");
      for (var i = 0; i < x.length; i++) {
        if (elmnt != x[i] && elmnt != inp) {
          x[i].parentNode.removeChild(x[i]);
        }
      }
    }
    /*execute a function when someone clicks in the document:*/
    document.addEventListener("click", function (e) {
      closeAllLists(e.target);
    });
  }
  var tabCustomersName = [{
    %
    for rec in customers %
  } ['{{rec.CODE}}', '{{rec.NAME}}', '{{rec.TRDR}}'], {
    %
    endfor %
  }];

  autocompletename(document.getElementById("formtrdrname"), tabCustomersName);
  autocompletecode(document.getElementById("formtrdrcode"), tabCustomersName);
</script>

</html>