<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Day-One Login </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename= 'js/login.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/globalStyling.css') }}">
</head>

<body>
  <section class="hero is-dark is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <form name="login" method="POST">
              <div class="control has-icons-left" style="margin-bottom:10px;">
                <div class="select">
                  <select name="platform" id="platform">
                    <option selected>Softone</option>
                  </select>
                  <span class="icon is-large is-left">
                    <i class="fas fa-cogs"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" id="cname" name="companyname" placeholder="Σύνδεση" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-database"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" id="uname" name="username" placeholder="Username" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="password" id="password" name="password" placeholder="Password" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>

              <div id="divcom" class="control has-icons-left has-icons-right" style="margin-bottom:15px;display:none;">
                <div class="select">
                  <select name="comcode" id="comcode" required>
                  </select>
                </div>
                <span class="icon is-small is-left">
                  <i class="fas fa-home"></i>
                </span>
              </div>

              <div id="btlogin" class="field" style="display:none;">
                <p class="control">
                  <button type="submit" id="bbtlogin" class="button is-info is-fullwidth">
                    Σύνδεση
                  </button>
                </p>
              </div>

              <div id="btnext" class="field" onclick="companies()">
                <p class="control">
                  <button type="button" id="bbtnext" class="button is-info is-fullwidth">
                    Επόμενο
                  </button>
                </p>
              </div>
              <script>
                var cbox = document.querySelectorAll('#uname, #password, #cname, #comcode');
                for (let i = 0; i < cbox.length; i++) {
                  cbox[i].addEventListener('keypress', function (event) {
                    if (event.keyCode == 13) {
                      event.preventDefault();
                      if (document.getElementById('btlogin').style.display == 'none') {
                        document.getElementById("bbtnext").click();
                      } else {
                        document.getElementById("bbtlogin").click();
                      }
                    }
                  });
                };
              </script>
            </form>

            <div class="loader" id="loader"
              style="z-index:999;position:fixed;top:50%;left:50%;margin-top:-60px;margin-left:-60px;display:none;">
            </div>
            <p class="error" id="error" style="display:none"><strong>Login Failed: </strong><label
                id="errorDisplay">Check credentials</label></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>